// MCB Variables
// --------------------------------------------------

$el-vertical-margin: 3px;
$panel-color: #f7f7f9;
$panel-border: #e1e1e8;
$error-color: #b94a48;
$default-color: #42b983;
$link-color: #4d90fc;
$spacer: 2rem;

@import "themes/default/variables";
